@charset "UTF-8";
:root {
  font-size: 10px;
}

body {
  font-family: speedeeK;
  font-weight: 700;
}

header {
  background-color: #fff;
  position: relative;
  z-index: 10000;
}
header .headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
}
header .headerWrapper #gnbList {
  display: flex;
  height: 141px;
}
header .headerWrapper #gnbList::after {
  display: none;
  content: "";
  height: 300px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
}
header .headerWrapper #gnbList:hover .depth01 > ul {
  display: block;
  margin-top: 1px;
}
header .headerWrapper #gnbList:hover::after {
  display: block;
  border-top: 1px solid #ccc;
}
header .headerWrapper #gnbList .depth01 {
  font-size: 2em;
}
header .headerWrapper #gnbList .depth01 > a {
  display: flex;
  align-items: center;
  margin-right: 85px;
  height: 100%;
  position: relative;
}
header .headerWrapper #gnbList .depth01 > ul {
  display: block;
  margin-top: 1px;
}
header .headerWrapper #gnbList .depth01 > ul li {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}
header .headerWrapper #gnbList .depth01 > ul li a {
  padding: 5px 0;
}
header .headerWrapper #gnbList .depth01 > ul li a:hover {
  color: #000;
  border-bottom: 1px solid black;
}
header .headerWrapper #gnbList .depth01 > ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f5bd43;
  position: absolute;
  bottom: -3px;
}

.util {
  display: flex;
}
.util .btnSearch {
  margin-left: 26px;
  cursor: pointer; /* 마우스가 호버됐을 때 손가락 */
}
.util .utllList {
  display: flex;
}
.util .utllList li {
  width: 80px;
  height: 36px;
  line-height: 36px;
  border-radius: 48px;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}
.util .utllList li:nth-child(1) {
  background-color: #db0007;
}
.util .utllList li:nth-child(2) {
  margin: 0 4px;
  background-color: #d87e00;
}
.util .utllList li:nth-child(3) {
  background-color: #264a36;
}

#banner {
  position: relative;
}
#banner .btnSlide .btn .next {
  right: 0;
  background-position-y: -90px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#banner .btnSlide .btn .prev {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#banner .controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#banner .controls .statusBar {
  width: 200px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
}
#banner .controls .btnPlay {
  width: 36px;
  height: 36px;
  background-color: black;
  background: url("../assets/images/bg_swiper_new.png") -92px 0;
  margin-right: 20px;
  cursor: pointer;
  transition: width 0.25s;
}
#banner .controls .btnPlay:hover {
  background-position-y: -36px;
}

#live .liveWrapper {
  padding: 20px 0;
}
#live .liveWrapper .title {
  font-size: 4rem;
}
#live .liveWrapper .eventList {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 60px;
}
#live .liveWrapper .eventList li {
  border-radius: 10px;
  overflow: hidden;
  height: 438px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
#live .liveWrapper .eventList li .contentBox {
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

footer {
  background-color: #292929;
}
footer .linkList {
  width: 190px;
  color: #fff;
  font-weight: 500;
}
footer .linkList li:nth-child(1) {
  color: #ffff00;
}
footer .footerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 55px;
}
footer .footerWrapper .footerLeft {
  display: flex;
  font-size: 1.4rem;
}
footer .footerWrapper .footerLeft .infoList {
  font-weight: 400;
  color: #999;
}
footer .footerWrapper .footerLeft + li {
  margin-top: 10px;
}
footer .footerWrapper .footerLeft .snsList {
  display: flex;
  align-items: center;
}
footer .footerWrapper .footerLeft .snsList li + li {
  margin-left: 20px;
}
footer .footerWrapper .footerLeft .snsList li a {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/ico_sns.png") 0 0 no-repeat;
}
footer .footerWrapper .footerLeft .snsList li:nth-child(2) a {
  background-position-y: -40px;
}
footer .footerWrapper .footerLeft .snsList li:nth-child(3) a {
  background-position-y: -80px;
}
footer .footerWrapper .footerLeft .snsList li:nth-child(4) a {
  background-position-y: -120px;
}/*# sourceMappingURL=style.css.map */