a {
  color: inherit;
  text-decoration: none;
}
.container {
  border: 3px solid black;
  text-align: justify;
}

.container .box {
  width: 50px;
  height: 50px;
  margin: 10px;

  float: left;

  background-color: red;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  float: left;
  margin: 0;
}

header {
  text-align: center;
}

.gnblist {
  padding: 0;
  /* display: inline-block; */
  width: 300px;
  margin: 0 auto;
}

.gnblist li {
  list-style: none;

  width: 33.3%;

  float: left;

  text-align: center;

  color: red;
}

.gnblist li a {
  display: block;
  color: inherit; /* a태그는 기본 색상 값을 가지고 있다. inherit는 부모로 부터 상속 받는다 */
  /* 글씨를 세로로 가운데 정렬하는 편법, 한줄 일때만 가능 */
  height: 50px;
  line-height: 50px;
}

.gnblist li a:hover {
  background-color: gray;
}
