

:root {
  font-size: 10px;
}

body {
  font-family: SpeedeeK;
  font-weight: 700;
}
header {
  background-color: #fff;
}

header h1 a img {
  background-color: #fff;
}

.wrapper {
  max-width: 1168px;
  margin: 0 auto;
}
header .headerWrapper {
  display: flex;
  height: 140px;

  align-items: center;
  justify-content: space-between;
}

#gnbList {
  display: flex;
}

#gnbList .depth01 {
  margin-right: 85px;
  font-size: 2rem;
}

.util {
  display: flex;
}
.util .utilList {
  display: flex;
}

.util .utilList li {
  width: 80px;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;

  font-size: 1.3rem;

  border-radius: 48px;

  text-align: center;

  color: #fff;
}

.util .utilList li:nth-child(1) {
  background-color: #db0007;
}

.util .utilList li:nth-child(2) {
  margin: 0 4px;
  background-color: rgb(29, 155, 240);
}

.util .utilList li:nth-child(3) {
  background-color: #264a36;
}

.util .btnSearch {
  margin-left: 26px;
  cursor: pointer;
}

#banner {
  position: relative;
}

#banner .slideList li img {
  width: 100%;
}

#banner .btnSlide .btn {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#banner .btnSlide .btn.prev {
  background: url(../asets/imges/bg_swiper_new.png) 0 0 no-repeat;

  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

#banner .btnSlide .btn.next {
  background: url(../asets/imges/bg_swiper_new.png) 0 0 no-repeat;
  right: 0;
  background-position-y: -90px;

  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}

#banner .controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#banner .statusBar {
  width: 300px;
  height: 6px;

  background-color: #fff;
  border-radius: 6px;
}

#banner .controls .btnPlay {
  width: 36px;
  height: 36px;

  margin-right: 20px;
  border-radius: 50%;

  background: url(../asets/imges/bg_swiper_new.png) -92px 0 no-repeat;

  cursor: pointer;
}

#banner .controls .btnPlay:active {
  /* background: url(../asets/imges/bg_swiper_new.png) -92px -36px no-repeat; */
  background-position-y: -36px;
}

<<<<<<< Updated upstream
=======
<<<<<<< HEAD
#live .liveWrapper {
  padding: 20px 0;
}

#live .liveWrapper .title {
  font-size: 4rem;
}

#live .liveWrapper .eventList {
  display: flex;
  flex-wrap: wrap;
  gap: calc((1168px - (366px * 3)) / 2);
  margin-top: 60px;
}

#live .liveWrapper .eventList li {
  border-radius: 10px;
  overflow: hidden;
  height: 438px;

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#live .liveWrapper .eventList li .contentsBox {
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

footer .footerWrapper {
  padding: 45px 0 55px;
  background-color: #292929;
}

@media (max-width: 1168px) {
  #live .liveWrapper {
    max-width: 768px;
  }

  #live .liveWrapper .title {
    text-align: center;
  }
}

@media (max-width: 790px) {
  #live .liveWrapper .eventList {
    justify-content: center;
  }
}
=======
>>>>>>> Stashed changes
@keyframes slide {
    to{
    .slideList a img{
img
    }
    }
<<<<<<< Updated upstream
}
=======
}
>>>>>>> 510b2c8c3af33121eb369a34a70f9da736e4e42a
>>>>>>> Stashed changes
